- if params[:author_id].present?
  = form_for [@author, @book] do |f|
   
    %p 
      = f.label "Title"
      = f.text_field:title

    %p 
      = f.submit "Submit"
- else
  = form_for @book do |f|
 
  %p 
    = f.label "Title"
    = f.text_field:title

  %p 
    = f.submit "Submit"